body {
  font-family: "Open Sans", sans-serif;
}

.HousesList {
  display: flex;
  flex-direction: column;
  margin-top: -1.5em;
}

.HousesList .HousesList__item {
  padding: 1.5em;
}

.HousesList__item--stale {
  background: #ff000024;
}

.HousesList .HousesList__item + .HousesList__item {
  border-top: 1px solid #d8d8d8;
}

.HousesList__item__images {
  margin-bottom: 1em;
}

.HousesList__item__price {
  font-weight: bold;
}

.HousesList__item__ago {
  margin-bottom: 0.5em;
  display: inline-block;
}
